{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    [
      "transform-es2015-modules-commonjs",
      {
        "strict": true,
        "loose": true,
        "noInterop": true
      }
    ]
  ]
}
